#welcome {
    background-color: var(--light);
    min-height: 100vh;
    height: auto;

}

#welcome .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;


  }

#welcome .imgcontainer {
    margin: 60px;
    min-width: 5em;
    max-width: 25em;
    /* width: 40vw; */
    border-radius: 50%;
    overflow:auto;
    border: var(--dark) solid 2px;
    box-shadow: #fff 4px 4px 0 0, var(--dark) 4px 4px 0 2px;

  }

#welcome .textcontainer {
    margin-top: 40px;
    font-size: 300%;


}

.textcontainer > .buttonContainer  {
    padding: 50px;
}


#project-container {
    height: 200vh;

}

.project {
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-grow: 1;
    /* border: black solid 1px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;   
}

.project:hover {
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}


.project h2{
    font-size: 200%;
    color: var(--white)
    /* text-shadow: 3px 3px rgba(0, 0, 0, 0.3) */


}
@keyframes expand{
    from {flex-grow: 1; background-color: grey; font-size: 100%;} 
    to {flex-grow: 2; background-color: white; font-size:200%}
  }



.project-main {
    padding: 2rem 5vw;

}

.project-main > * {
    padding-bottom: 30px;
}

.project-main h1 {
    font-size: 400%;
    padding-bottom:2rem ;
    margin: 3rem 0 2rem 0;
    position:relative;
    top:-20rem;
    animation: slide 1s ease-in-out 0.2s 1 normal forwards;
}

@keyframes slide {
    from{top:-20rem;}
    to {top: 0;}
}




.demo {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: var(--light);
}


#Contact {
    padding: 50px 0;
    background-color: var(--light);
    min-height: 100vh;
    height: auto;
}


#Contact h1 {
    align-self:center;
    font-size: 400%;
    padding-bottom:2rem ;
    margin: 3rem 0 2rem 0;
    text-shadow: 4px 4px 0px var(--white), #000 4px 4px 1px ;
    /* box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px; */


}

.formContainer {
    align-self: center;
    align-items: center;
}

form {
    color: var(--dark);
    background: var(--neutral);
    padding: 20px;
    width: 80vw;
    max-width: 500px;
    border: var(--dark) solid 1px;
}

form {
    box-shadow: #fff 7px 7px 0 0,#000 7px 7px 0 1px;
}

form, form > * {
    border-radius: 4px;
}

input, textarea {
    margin-top: 20px;
}

input:focus, textarea:focus {
    outline: none;
    border: var(--dark) solid 3px;
  }


#fname, #email {
    height: 30px;
}


#message {
    height: 200px;
    resize: none;
}

#contactSubmit {
    margin: 30px 0 20px;
    align-self: center;

}

.socials {
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 30px;
    width: 80vw;
}

.socials > a > i::before {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: #fff solid 1px;
}

@media screen and (min-width: 768px) {
    .colView {
      display: block;
      column-count: 2;
      column-gap: 50px;
    }

    .project-main {
        padding: 2rem 20vw;
    
    }

    #welcome .container {
        flex-direction: row;
  
  }
}
  