*{
  padding:0;
  margin:0;

}
#root * { 
  display: flex; 
  flex-direction: column; 

} 

a {
  text-decoration: none; /* no underline */
}


#root {
  width:100vw;
  height:150vh;
  align-items:center;
  /* background-color: grey; */
  /* border: 2px red solid; */
}

h1, h2, h3, h4 {
  font-family: 'Tilt Warp', cursive;
}
