nav {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    
    position:fixed;
    z-index: 1;
    right:0px;
    top:30%;
  }

nav, a i { 
  padding: 30px 20px;
  color: var(--dark);
  /* border: black 1px solid; */
}

a > i::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: var(--light);
}



.hero {
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;   
}



.buttonContainer {
  flex-direction: row;
  align-self: center;
  gap: 0 30px;
}



.skillContainer{
  padding-top:30px;
  flex-direction: row !important;
  align-self: center;

}

.skillKeyItem {
  flex-direction: row !important;
  align-items:center;
  margin: 10px 10px;
}

.skillKeyItem > span:first-child {
  margin-right:10px;
  width:10px;
  height:10px;
  border-radius: 10px;
  background-color:red;
  border: red solid 1px;
}




@media screen and (min-width: 768px) {
  .colView {
    display: block;
    column-count: 2;
    column-gap: 50px;
  }
  
}



