.project-buttons {
  appearance: button;
  background-color: var(--dark);
  border: var(--dark )1px solid;
  box-shadow: var(--accent) 5px 5px 0 0;
  box-sizing: border-box;
  color: var(--neutral);
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 12px 40px;
  text-align: center;
}

.project-buttons:focus {
  text-decoration: none;
}

.project-buttons:hover {
  text-decoration: none;
}

.project-buttons:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.project-buttons:not([disabled]):active {
  box-shadow: var(--accent) 2px 2px 0 0;
  transform: translate(2px, 2px);
}


/* desktop ++  */
@media (min-width: 768px) {
  .project-buttons {
    padding: 12px 50px;
  }
}