:root {
  --dark: #22272A;
  --white: #f7f8f8;
  --light: #BFAEA4;
  --neutral: #CF8E55;
  --accent: #854621;

}

*{
  padding:0;
  margin:0;
  overflow: auto;

}
div * { 
  display: flex; 
  flex-direction: column; 
} 


a {
  text-decoration: none; /* no underline */
}


#root {
  width:100vw;
  align-items:center;
  background-color: var(--white);
  /* border: 2px red solid; */
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark)
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}



textarea, form {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height:175%;
}