nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 10;
    right: 0;
    margin-top: -2rem;
  
  }
  
  nav, a i {
    padding: 30px 20px;
    color: var(--light);
  }
  
  a>i::before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--dark);
  }
  
  
  nav a:hover i, nav a:active i  {
    color: var(--dark);
  }
  
  a:hover>i::before, a:active>i::before {
    background-color: var(--accent);
    
  }
  
  
  
  @media (max-width: 768px) {
  
    nav {
      display: flex;
      flex-direction: row;
      height: 10vh;
      left: 0;
      bottom: 0;
    }
  
  
  }
  